<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>EmployeeRegistration</display-name>
    <servlet>
        <servlet-name>tEST</servlet-name>
        <servlet-class>Controller.tEST</servlet-class>
    </servlet>
   
    <servlet>
        <servlet-name>display2</servlet-name>
        <servlet-class>Controller.display2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>tEST</servlet-name>
        <url-pattern>/tEST</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>display2</servlet-name>
        <url-pattern>/display2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
